h1 {
    color: black;
}

.location-finder {
    display: flex;
    justify-content: center;
}

.findMyLocation {
    border: 1px black solid;
    height: 110px;
    width: 400px;
    margin: 10px;
    font-size: 1.6em;
}

.enter-location {
    height: 104px;
    width: 400px;
    margin: 10px;
    font-size: 1.2em;
}

.map {
    width: 70%;
    margin: 20px auto;
}