h1 {
    color: black;
}

.location-finder {
    display: flex;
    justify-content: center;
}

.findMyLocation {
    border: 1px black solid;
    height: 59px;
    width: 300px;
    margin: 10px;
    font-size: 1.6em;
}

.enter-location {
    height: 54px;
    width: 300px;
    margin: 10px;
    font-size: 1.2em;
}

.map {
    width: 70%;
    margin: 20px auto;
}

.find-beef-button {
    height: 60px;
    width: 100px;
    margin-top: 10px;
}

.shop-cards {
    display: flex;
    flex-wrap: wrap;
}