.footer-div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

.header {
    background-color: black;
      color: white;
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      text-decoration: none;
}

a {
    color: #9E3320;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
}